@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-black text-white font-sans;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-900 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-800;
  }
}